<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}"><span class="gem">◈</span>{{ site.title }}</a>
    <nav class="site-nav">
      <a href="{{ '/blog/' | relative_url }}" {% if page.url contains '/blog' %}class="active"{% endif %}>Blog</a>
      <a href="{{ '/talks/' | relative_url }}" {% if page.url contains '/talks' %}class="active"{% endif %}>Talks</a>
      <a href="{{ '/projects/' | relative_url }}" {% if page.url == '/projects/' %}class="active"{% endif %}>Projects</a>
      <a href="{{ '/contact/' | relative_url }}" {% if page.url == '/contact/' %}class="active"{% endif %}>Contact</a>
    </nav>
  </div>
</header>
